#Pipeline to run "main" from all the fcc projects which includes the tests

name: "FCC: Scientific Computing Project Tests"

on:
  push:
    branches:
      - main
    paths:
      - '**.py'
  pull_request:
    branches:
      - main

jobs:
  run_python_tests:
    strategy:
      max-parallel: 1
      matrix:
        include:
          - name: Arithmetic-Formatter
            dependencies: "pytest"
          - name: Time-Calculator
            dependencies: ""
    steps:
      - name: Checkout repo code (${{ github.repository }})
        uses: actions/checkout@v3
      - name: Setup and run tests
        uses: ./.github/workflows/run-python-tests.yml
        with:
          project_name: ${{ matrix.name }}
          python_dependencies: ${{ matrix.dependencies }}
