#This is a templated action used to run python tests of a specific project for
#FCC Scientific Copmuting projects.
on:
  workflow_call:
    inputs:
      project_name:
        required: true
        type: string
      python_dependencies:
        type: string
        default: ""

jobs:
  invoke-tests-${{ inputs.project_name }}:
    name: Run Python tests in ${{ inputs.project_name }}
    steps:
    - name: Install Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.10.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ ! "${{ inputs.python_dependencies }}" ]; then
          pip install ${{ inputs.python_dependencies }}
        fi
      shell: bash
    - name: Run ${{ inputs.project_name }} test
      run: |
        cd ./${{ inputs.project_name }}
        python ./main.py
      shell: bash
    